.main-footer{
    color: #fff;
    height: 4rem;
    margin-top: 1rem;
    background: var(--color-dark);
}
.footer__content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}